<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
    <div class="container-fluid">
        <a class="navbar-brand" href="">HabitTracker</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        📊 Главная
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="habits">
                        🎯 Привычки
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="goals">
                        🏆 Цели
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="stats">
                        📈 Статистика
                    </NavLink>
                </li>
            </ul>
            <ul class="navbar-nav">
                @if (authService.IsAuthenticated)
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                            👤 @userName
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="profile">Профиль</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="logout" @onclick="Logout">Выйти</a></li>
                        </ul>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <NavLink class="nav-link" href="login">Вход</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="register">Регистрация</NavLink>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>

@code {
    [Inject] private AuthService authService { get; set; } = default!;
    [Inject] private NavigationManager Navigation { get; set; } = default!;
    
    private string userName = "";
    
    protected override void OnInitialized()
    {
        if (authService.IsAuthenticated)
        {
            userName = "Пользователь"; // Можно получить из токена
        }
    }
    
    private async Task Logout()
    {
        authService.Logout();
        Navigation.NavigateTo("/login");
    }
}